--
-- PostgreSQL database dump
--

\restrict 8xvHi4fnwfHdG1JzzDmmwQPlYJh0b9fdyZ5wEtlklgc6Ek5hNejxO15nSfz71EA

-- Dumped from database version 15.18
-- Dumped by pg_dump version 15.18

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: bin_locations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.bin_locations (
    id bigint NOT NULL,
    abs_entry integer,
    bin_code character varying(255),
    whs_code character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.bin_locations OWNER TO sail;

--
-- Name: bin_locations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.bin_locations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.bin_locations_id_seq OWNER TO sail;

--
-- Name: bin_locations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.bin_locations_id_seq OWNED BY public.bin_locations.id;


--
-- Name: business_partners; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.business_partners (
    id bigint NOT NULL,
    bp_code character varying(255) NOT NULL,
    name character varying(255),
    type character varying(255) DEFAULT 'Vendor'::character varying NOT NULL,
    contact_persons json,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.business_partners OWNER TO sail;

--
-- Name: business_partners_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.business_partners_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.business_partners_id_seq OWNER TO sail;

--
-- Name: business_partners_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.business_partners_id_seq OWNED BY public.business_partners.id;


--
-- Name: cache; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache (
    key character varying(255) NOT NULL,
    value text NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache OWNER TO sail;

--
-- Name: cache_locks; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.cache_locks (
    key character varying(255) NOT NULL,
    owner character varying(255) NOT NULL,
    expiration bigint NOT NULL
);


ALTER TABLE public.cache_locks OWNER TO sail;

--
-- Name: chart_of_accounts; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.chart_of_accounts (
    code character varying(255) NOT NULL,
    name character varying(255),
    external_code character varying(255),
    currency character varying(255),
    levels integer DEFAULT 1 NOT NULL,
    account_type character varying(255) DEFAULT 'Postable'::character varying NOT NULL,
    is_control_account boolean DEFAULT false NOT NULL,
    is_cash_account boolean DEFAULT false NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    category character varying(255) DEFAULT 'Assets'::character varying NOT NULL,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.chart_of_accounts OWNER TO sail;

--
-- Name: configs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.configs (
    id bigint NOT NULL,
    base_url character varying(255),
    database character varying(255),
    period_indicator character varying(255),
    scheduler_active boolean DEFAULT false NOT NULL,
    scheduler_interval integer DEFAULT 5 NOT NULL,
    max_retries integer DEFAULT 3 NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.configs OWNER TO sail;

--
-- Name: configs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.configs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.configs_id_seq OWNER TO sail;

--
-- Name: configs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.configs_id_seq OWNED BY public.configs.id;


--
-- Name: failed_jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.failed_jobs (
    id bigint NOT NULL,
    uuid character varying(255) NOT NULL,
    connection character varying(255) NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    exception text NOT NULL,
    failed_at timestamp(0) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.failed_jobs OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.failed_jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.failed_jobs_id_seq OWNER TO sail;

--
-- Name: failed_jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.failed_jobs_id_seq OWNED BY public.failed_jobs.id;


--
-- Name: item_groups; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.item_groups (
    id bigint NOT NULL,
    sap_number integer,
    group_name character varying(255),
    default_uom_group character varying(255),
    default_uom character varying(255),
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.item_groups OWNER TO sail;

--
-- Name: item_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.item_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.item_groups_id_seq OWNER TO sail;

--
-- Name: item_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.item_groups_id_seq OWNED BY public.item_groups.id;


--
-- Name: items; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.items (
    item_code character varying(255) NOT NULL,
    item_name character varying(255),
    foreign_name character varying(255),
    uom character varying(255),
    inventory_uom character varying(255),
    purchasing_uom character varying(255),
    sales_uom character varying(255),
    uom_group_type character varying(255) DEFAULT 'Manual'::character varying NOT NULL,
    uom_group character varying(255),
    item_group character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.items OWNER TO sail;

--
-- Name: job_batches; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.job_batches (
    id character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    total_jobs integer NOT NULL,
    pending_jobs integer NOT NULL,
    failed_jobs integer NOT NULL,
    failed_job_ids text NOT NULL,
    options text,
    cancelled_at integer,
    created_at integer NOT NULL,
    finished_at integer
);


ALTER TABLE public.job_batches OWNER TO sail;

--
-- Name: jobs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.jobs (
    id bigint NOT NULL,
    queue character varying(255) NOT NULL,
    payload text NOT NULL,
    attempts smallint NOT NULL,
    reserved_at integer,
    available_at integer NOT NULL,
    created_at integer NOT NULL
);


ALTER TABLE public.jobs OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.jobs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.jobs_id_seq OWNER TO sail;

--
-- Name: jobs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.jobs_id_seq OWNED BY public.jobs.id;


--
-- Name: migrations; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.migrations (
    id integer NOT NULL,
    migration character varying(255) NOT NULL,
    batch integer NOT NULL
);


ALTER TABLE public.migrations OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.migrations_id_seq OWNER TO sail;

--
-- Name: migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.migrations_id_seq OWNED BY public.migrations.id;


--
-- Name: password_reset_tokens; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.password_reset_tokens (
    email character varying(255) NOT NULL,
    token character varying(255) NOT NULL,
    created_at timestamp(0) without time zone
);


ALTER TABLE public.password_reset_tokens OWNER TO sail;

--
-- Name: purchase_request_lines; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.purchase_request_lines (
    id bigint NOT NULL,
    purchase_request_id bigint NOT NULL,
    item_code character varying(255) NOT NULL,
    item_description character varying(255),
    quantity numeric(19,6) DEFAULT '1'::numeric NOT NULL,
    price numeric(19,6) DEFAULT '0'::numeric NOT NULL,
    uom_code character varying(255),
    tax_code character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.purchase_request_lines OWNER TO sail;

--
-- Name: purchase_request_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.purchase_request_lines_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_request_lines_id_seq OWNER TO sail;

--
-- Name: purchase_request_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.purchase_request_lines_id_seq OWNED BY public.purchase_request_lines.id;


--
-- Name: purchase_requests; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.purchase_requests (
    id bigint NOT NULL,
    sap_number integer,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    document_date date,
    valid_until date,
    posting_date date,
    required_date date,
    requester character varying(255),
    vendor character varying(255),
    whs_code character varying(255),
    tax_code character varying(255),
    sync_error text,
    created_by character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.purchase_requests OWNER TO sail;

--
-- Name: purchase_requests_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.purchase_requests_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.purchase_requests_id_seq OWNER TO sail;

--
-- Name: purchase_requests_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.purchase_requests_id_seq OWNED BY public.purchase_requests.id;


--
-- Name: roles; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.roles (
    id bigint NOT NULL,
    name character varying(255) NOT NULL,
    permissions json,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.roles OWNER TO sail;

--
-- Name: roles_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.roles_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.roles_id_seq OWNER TO sail;

--
-- Name: roles_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.roles_id_seq OWNED BY public.roles.id;


--
-- Name: sessions; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.sessions (
    id character varying(255) NOT NULL,
    user_id character varying(255),
    ip_address character varying(45),
    user_agent text,
    payload text NOT NULL,
    last_activity integer NOT NULL
);


ALTER TABLE public.sessions OWNER TO sail;

--
-- Name: system_logs; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.system_logs (
    id bigint NOT NULL,
    category character varying(255) NOT NULL,
    action character varying(255) NOT NULL,
    details text,
    user_id character varying(255),
    ip_address character varying(255),
    pc_name character varying(255),
    instant_sync boolean DEFAULT false NOT NULL,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.system_logs OWNER TO sail;

--
-- Name: system_logs_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.system_logs_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.system_logs_id_seq OWNER TO sail;

--
-- Name: system_logs_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.system_logs_id_seq OWNED BY public.system_logs.id;


--
-- Name: taxes; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.taxes (
    id bigint NOT NULL,
    code character varying(255) NOT NULL,
    name character varying(255),
    rate numeric(8,4) DEFAULT '0'::numeric NOT NULL,
    locked boolean DEFAULT false NOT NULL,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.taxes OWNER TO sail;

--
-- Name: taxes_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.taxes_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.taxes_id_seq OWNER TO sail;

--
-- Name: taxes_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.taxes_id_seq OWNED BY public.taxes.id;


--
-- Name: uom_groups; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.uom_groups (
    id bigint NOT NULL,
    abs_entry integer,
    group_code character varying(255) NOT NULL,
    group_name character varying(255),
    base_uom character varying(255),
    conversions json,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.uom_groups OWNER TO sail;

--
-- Name: uom_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.uom_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.uom_groups_id_seq OWNER TO sail;

--
-- Name: uom_groups_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.uom_groups_id_seq OWNED BY public.uom_groups.id;


--
-- Name: uoms; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.uoms (
    id bigint NOT NULL,
    abs_entry integer,
    code character varying(255) NOT NULL,
    name character varying(255),
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.uoms OWNER TO sail;

--
-- Name: uoms_id_seq; Type: SEQUENCE; Schema: public; Owner: sail
--

CREATE SEQUENCE public.uoms_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER TABLE public.uoms_id_seq OWNER TO sail;

--
-- Name: uoms_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: sail
--

ALTER SEQUENCE public.uoms_id_seq OWNED BY public.uoms.id;


--
-- Name: users; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.users (
    uid7 character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    username character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    debug_mode boolean DEFAULT false NOT NULL,
    sap_user character varying(255),
    sap_password character varying(255),
    role_id bigint,
    created_by character varying(255),
    updated_by character varying(255),
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.users OWNER TO sail;

--
-- Name: warehouses; Type: TABLE; Schema: public; Owner: sail
--

CREATE TABLE public.warehouses (
    whs_code character varying(255) NOT NULL,
    whs_name character varying(255),
    is_active boolean DEFAULT true NOT NULL,
    location character varying(255),
    bin_enabled boolean DEFAULT false NOT NULL,
    sync_status character varying(255) DEFAULT 'Draft'::character varying NOT NULL,
    sap_status character varying(255),
    sync_error text,
    created_at timestamp(0) without time zone,
    updated_at timestamp(0) without time zone
);


ALTER TABLE public.warehouses OWNER TO sail;

--
-- Name: bin_locations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bin_locations ALTER COLUMN id SET DEFAULT nextval('public.bin_locations_id_seq'::regclass);


--
-- Name: business_partners id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.business_partners ALTER COLUMN id SET DEFAULT nextval('public.business_partners_id_seq'::regclass);


--
-- Name: configs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.configs ALTER COLUMN id SET DEFAULT nextval('public.configs_id_seq'::regclass);


--
-- Name: failed_jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs ALTER COLUMN id SET DEFAULT nextval('public.failed_jobs_id_seq'::regclass);


--
-- Name: item_groups id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.item_groups ALTER COLUMN id SET DEFAULT nextval('public.item_groups_id_seq'::regclass);


--
-- Name: jobs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs ALTER COLUMN id SET DEFAULT nextval('public.jobs_id_seq'::regclass);


--
-- Name: migrations id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations ALTER COLUMN id SET DEFAULT nextval('public.migrations_id_seq'::regclass);


--
-- Name: purchase_request_lines id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_request_lines ALTER COLUMN id SET DEFAULT nextval('public.purchase_request_lines_id_seq'::regclass);


--
-- Name: purchase_requests id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_requests ALTER COLUMN id SET DEFAULT nextval('public.purchase_requests_id_seq'::regclass);


--
-- Name: roles id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles ALTER COLUMN id SET DEFAULT nextval('public.roles_id_seq'::regclass);


--
-- Name: system_logs id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.system_logs ALTER COLUMN id SET DEFAULT nextval('public.system_logs_id_seq'::regclass);


--
-- Name: taxes id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.taxes ALTER COLUMN id SET DEFAULT nextval('public.taxes_id_seq'::regclass);


--
-- Name: uom_groups id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uom_groups ALTER COLUMN id SET DEFAULT nextval('public.uom_groups_id_seq'::regclass);


--
-- Name: uoms id; Type: DEFAULT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uoms ALTER COLUMN id SET DEFAULT nextval('public.uoms_id_seq'::regclass);


--
-- Data for Name: bin_locations; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.bin_locations (id, abs_entry, bin_code, whs_code, is_active, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: business_partners; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.business_partners (id, bp_code, name, type, contact_persons, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: cache; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache (key, value, expiration) FROM stdin;
\.


--
-- Data for Name: cache_locks; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.cache_locks (key, owner, expiration) FROM stdin;
\.


--
-- Data for Name: chart_of_accounts; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.chart_of_accounts (code, name, external_code, currency, levels, account_type, is_control_account, is_cash_account, is_active, category, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: configs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.configs (id, base_url, database, period_indicator, scheduler_active, scheduler_interval, max_retries, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: failed_jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.failed_jobs (id, uuid, connection, queue, payload, exception, failed_at) FROM stdin;
\.


--
-- Data for Name: item_groups; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.item_groups (id, sap_number, group_name, default_uom_group, default_uom, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.items (item_code, item_name, foreign_name, uom, inventory_uom, purchasing_uom, sales_uom, uom_group_type, uom_group, item_group, is_active, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: job_batches; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.job_batches (id, name, total_jobs, pending_jobs, failed_jobs, failed_job_ids, options, cancelled_at, created_at, finished_at) FROM stdin;
\.


--
-- Data for Name: jobs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.jobs (id, queue, payload, attempts, reserved_at, available_at, created_at) FROM stdin;
\.


--
-- Data for Name: migrations; Type: TABLE DATA; Schema: public; Owner: sail
--



--
-- Data for Name: password_reset_tokens; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.password_reset_tokens (email, token, created_at) FROM stdin;
\.


--
-- Data for Name: purchase_request_lines; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.purchase_request_lines (id, purchase_request_id, item_code, item_description, quantity, price, uom_code, tax_code, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: purchase_requests; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.purchase_requests (id, sap_number, sync_status, sap_status, document_date, valid_until, posting_date, required_date, requester, vendor, whs_code, tax_code, sync_error, created_by, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.roles (id, name, permissions, created_at, updated_at) FROM stdin;
1	Super Admin	["Administrator.Config","Administrator.Roles","Administrator.Users","Administrator.Logs","Administrator.Items","Administrator.Taxes","Purchase.PurchaseRequest","Scheduler.MasterData","Scheduler.Document"]	2026-08-12 04:19:14	2026-08-12 04:19:14
\.


--
-- Data for Name: sessions; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.sessions (id, user_id, ip_address, user_agent, payload, last_activity) FROM stdin;
\.


--
-- Data for Name: system_logs; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.system_logs (id, category, action, details, user_id, ip_address, pc_name, instant_sync, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: taxes; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.taxes (id, code, name, rate, locked, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: uom_groups; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.uom_groups (id, abs_entry, group_code, group_name, base_uom, conversions, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: uoms; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.uoms (id, abs_entry, code, name, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.users (uid7, name, username, password, debug_mode, sap_user, sap_password, role_id, created_by, updated_by, created_at, updated_at) FROM stdin;
20260812041915B1VZ	Manager	manager	$2y$04$jHISS5c11gZmJMS6yGYW1uw0g8k3W0ET4LKtR7cfx1L5ljabw1iXy	f	manager	P@ssw0rd	1	\N	\N	2026-08-12 04:19:15	2026-08-12 04:19:15
\.


--
-- Data for Name: warehouses; Type: TABLE DATA; Schema: public; Owner: sail
--

COPY public.warehouses (whs_code, whs_name, is_active, location, bin_enabled, sync_status, sap_status, sync_error, created_at, updated_at) FROM stdin;
\.


--
-- Name: bin_locations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.bin_locations_id_seq', 1, false);


--
-- Name: business_partners_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.business_partners_id_seq', 1, false);


--
-- Name: configs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.configs_id_seq', 1, false);


--
-- Name: failed_jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.failed_jobs_id_seq', 1, false);


--
-- Name: item_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.item_groups_id_seq', 1, false);


--
-- Name: jobs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.jobs_id_seq', 1, false);


--
-- Name: migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.migrations_id_seq', 17, true);


--
-- Name: purchase_request_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.purchase_request_lines_id_seq', 1, false);


--
-- Name: purchase_requests_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.purchase_requests_id_seq', 1, false);


--
-- Name: roles_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.roles_id_seq', 1, true);


--
-- Name: system_logs_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.system_logs_id_seq', 1, false);


--
-- Name: taxes_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.taxes_id_seq', 1, false);


--
-- Name: uom_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.uom_groups_id_seq', 1, false);


--
-- Name: uoms_id_seq; Type: SEQUENCE SET; Schema: public; Owner: sail
--

SELECT pg_catalog.setval('public.uoms_id_seq', 1, false);


--
-- Name: bin_locations bin_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.bin_locations
    ADD CONSTRAINT bin_locations_pkey PRIMARY KEY (id);


--
-- Name: business_partners business_partners_bp_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.business_partners
    ADD CONSTRAINT business_partners_bp_code_unique UNIQUE (bp_code);


--
-- Name: business_partners business_partners_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.business_partners
    ADD CONSTRAINT business_partners_pkey PRIMARY KEY (id);


--
-- Name: cache_locks cache_locks_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache_locks
    ADD CONSTRAINT cache_locks_pkey PRIMARY KEY (key);


--
-- Name: cache cache_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.cache
    ADD CONSTRAINT cache_pkey PRIMARY KEY (key);


--
-- Name: chart_of_accounts chart_of_accounts_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.chart_of_accounts
    ADD CONSTRAINT chart_of_accounts_pkey PRIMARY KEY (code);


--
-- Name: configs configs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.configs
    ADD CONSTRAINT configs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_pkey PRIMARY KEY (id);


--
-- Name: failed_jobs failed_jobs_uuid_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.failed_jobs
    ADD CONSTRAINT failed_jobs_uuid_unique UNIQUE (uuid);


--
-- Name: item_groups item_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.item_groups
    ADD CONSTRAINT item_groups_pkey PRIMARY KEY (id);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (item_code);


--
-- Name: job_batches job_batches_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.job_batches
    ADD CONSTRAINT job_batches_pkey PRIMARY KEY (id);


--
-- Name: jobs jobs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.jobs
    ADD CONSTRAINT jobs_pkey PRIMARY KEY (id);


--
-- Name: migrations migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.migrations
    ADD CONSTRAINT migrations_pkey PRIMARY KEY (id);


--
-- Name: password_reset_tokens password_reset_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.password_reset_tokens
    ADD CONSTRAINT password_reset_tokens_pkey PRIMARY KEY (email);


--
-- Name: purchase_request_lines purchase_request_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_request_lines
    ADD CONSTRAINT purchase_request_lines_pkey PRIMARY KEY (id);


--
-- Name: purchase_requests purchase_requests_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_requests
    ADD CONSTRAINT purchase_requests_pkey PRIMARY KEY (id);


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sessions sessions_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.sessions
    ADD CONSTRAINT sessions_pkey PRIMARY KEY (id);


--
-- Name: system_logs system_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_pkey PRIMARY KEY (id);


--
-- Name: taxes taxes_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.taxes
    ADD CONSTRAINT taxes_code_unique UNIQUE (code);


--
-- Name: taxes taxes_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.taxes
    ADD CONSTRAINT taxes_pkey PRIMARY KEY (id);


--
-- Name: uom_groups uom_groups_group_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uom_groups
    ADD CONSTRAINT uom_groups_group_code_unique UNIQUE (group_code);


--
-- Name: uom_groups uom_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uom_groups
    ADD CONSTRAINT uom_groups_pkey PRIMARY KEY (id);


--
-- Name: uoms uoms_code_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uoms
    ADD CONSTRAINT uoms_code_unique UNIQUE (code);


--
-- Name: uoms uoms_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.uoms
    ADD CONSTRAINT uoms_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (uid7);


--
-- Name: users users_username_unique; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_username_unique UNIQUE (username);


--
-- Name: warehouses warehouses_pkey; Type: CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.warehouses
    ADD CONSTRAINT warehouses_pkey PRIMARY KEY (whs_code);


--
-- Name: cache_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_expiration_index ON public.cache USING btree (expiration);


--
-- Name: cache_locks_expiration_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX cache_locks_expiration_index ON public.cache_locks USING btree (expiration);


--
-- Name: failed_jobs_connection_queue_failed_at_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX failed_jobs_connection_queue_failed_at_index ON public.failed_jobs USING btree (connection, queue, failed_at);


--
-- Name: jobs_queue_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX jobs_queue_index ON public.jobs USING btree (queue);


--
-- Name: sessions_last_activity_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_last_activity_index ON public.sessions USING btree (last_activity);


--
-- Name: sessions_user_id_index; Type: INDEX; Schema: public; Owner: sail
--

CREATE INDEX sessions_user_id_index ON public.sessions USING btree (user_id);


--
-- Name: purchase_request_lines purchase_request_lines_purchase_request_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_request_lines
    ADD CONSTRAINT purchase_request_lines_purchase_request_id_foreign FOREIGN KEY (purchase_request_id) REFERENCES public.purchase_requests(id) ON DELETE CASCADE;


--
-- Name: purchase_requests purchase_requests_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.purchase_requests
    ADD CONSTRAINT purchase_requests_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(uid7) ON DELETE SET NULL;


--
-- Name: system_logs system_logs_user_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.system_logs
    ADD CONSTRAINT system_logs_user_id_foreign FOREIGN KEY (user_id) REFERENCES public.users(uid7) ON DELETE SET NULL;


--
-- Name: users users_created_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_created_by_foreign FOREIGN KEY (created_by) REFERENCES public.users(uid7) ON DELETE SET NULL;


--
-- Name: users users_role_id_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_role_id_foreign FOREIGN KEY (role_id) REFERENCES public.roles(id) ON DELETE SET NULL;


--
-- Name: users users_updated_by_foreign; Type: FK CONSTRAINT; Schema: public; Owner: sail
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_updated_by_foreign FOREIGN KEY (updated_by) REFERENCES public.users(uid7) ON DELETE SET NULL;


--
-- PostgreSQL database dump complete
--

\unrestrict 8xvHi4fnwfHdG1JzzDmmwQPlYJh0b9fdyZ5wEtlklgc6Ek5hNejxO15nSfz71EA

